<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}


<div class="container py-3">
  <div class="row">
      <div class="col p-3">








        {{> subtitle text="About Us"}}
        <div class="p-3">
        {{> info}}
        </div>








        {{> subtitle title="Product Licensing" text="Simple License Agreements"}}
        <a name="licenses"></a>

        <div class="p-3">

          <div class="text-muted pl-3">
            <strong class="d-block h4">Free License</strong>
            <ul class="list-unstyled">
            <li>Must modify to create a product significantly different from the original Item.</li>
            <li>Use in one project only.</li>
            <li>May not resell, for your use only.</li>
            <li>Free is the same as standard, but the fee has been waived.</li>
          </ul>
          </div>

          <div class="text-muted pl-3">
            <strong class="d-block h4">Standard License</strong>
            <ul class="list-unstyled">
            <li>Must modify to create a product significantly different from the original Item.</li>
            <li>Use in one project.</li>
            <li>May not resell, for your use only.</li>
          </ul>
          </div>

          <div class="text-muted pl-3">
            <strong class="d-block h4">Multiuse License</strong>
            <ul class="list-unstyled">
            <li>Must modify to create a product significantly different from the original Item.</li>
            <li>Use in up-to 500 projects (if working on freelance project or contract work that will be sold multiple times down the road, you need to account for each sale, or purchase the extended license.).</li>
            <li>May not resell, for your use only.</li>
          </ul>
          </div>

          <div class="text-muted pl-3">
            <strong class="d-block h4">Extended License</strong>
            <ul class="list-unstyled">
            <li>Must modify to create a product significantly different from the original Item.</li>
            <li>Unlimited use.</li>
            <li>May not resell, for your use only.</li>
          </ul>
          </div>

        </div>








        {{> subtitle title="Legal" text="Legal Agreement"}}
        <a name="legal"></a>
        <div class="p-3">
          <div class="text-muted pl-3">
            <ul class="list-unstyled">
              <li>Terms and Conditions are found on the About Page.</li>
              <li>By accessing {{inHTMLData title}}, you confirm that you are in agreement with and bound by the Terms and Conditions.</li>
              <li>{{inHTMLData title}} does not store or process payments through the website.</li>
              <li>Ownership of products is governed by the license chosen by customer.</li>
              <li>We are not responsible for technological problems.</li>
              <li>We are not responsible for damages.</li>
              <li>We are not responsible for loss of data.</li>
              <li>We are not responsible for misuse or misunderstanding of product.</li>
              <li>Our products are distributed in the hope that they will be useful.</li>
              <li>Our products are distributed with ABSOLUTELY NO WARRANTY</li>
              <li>Our products are distributed without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.</li>
              <li>We offer simple unobstructed refunds.</li>
              <li>We allow full preview and access to preview source code prior to purchase.</li>
            </ul>
          </div>

        </div>

        {{> subtitle title="Refunds" text="Simple 1,2,3 Refund Policy"}}
        <a name="refunds"></a>
        <div class="p-3">
          <div class="text-muted pl-3">
            <ol>
              <li>You have 24 hours to inspect your purchase.</li>
              <li>You will need to explain how the product failed.</li>
              <li>Refund will be granted by {{inHTMLData title}}.</li>
            </ol>
          </div>

        </div>

        {{> subtitle title="Security" text="Coded for Safe and Secure Payments and Experience"}}
        <a name="security"></a>
        <div class="p-3">
          <div class="text-muted pl-3">
            <ul class="list-unstyled">
              <li>{{inHTMLData title}} takes OWASP TOP 10 very seriously.</li>
              <li>{{inHTMLData title}} takes WAP STANDARDS very seriously.</li>
              <li>{{inHTMLData title}} takes PCI-DSS very seriously.</li>
              <li>Sourcecode is not obscured and available for testing and review.</li>
              <li>{{inHTMLData title}} is PCI-DSS compliant via Stripe’s security and storage and client-side tokenization.</li>
            </ul>
          </div>
        </div>

        {{> subtitle title="Privacy" text="Your Privacy is Extremely Important to Us"}}
        <a name="privacy"></a>
        <div class="p-3">
          <div class="text-muted pl-3">
            <ul class="list-unstyled">
              <li>Personal data is not stored on the server in any readable form.</li>
              <li>{{inHTMLData title}} does not store or process payments through the website.</li>
              <li>{{inHTMLData title}} is PCI-DSS compliant via Stripe’s security and storage and client-side tokenization.</li>
              <li>Email collected via stripe purchase is hashed and cannot be read.</li>
              <li>Total information stored by the server is ONE-WAY HASH-OF-EMAIL and PRODUCT-ID(s)</li>
              <li>Request for re-download is sent directly to the customer email address, list is not made available via HTTP/S.</li>
            </ul>
          </div>
        </div>

        {{> subtitle title="Use of Software" text="Software Disclaimer"}}
        <div class="p-3">
          <div class="text-muted pl-3">
            <ul class="list-unstyled">
              <li>This program and content contained within including legal terms come with ABSOLUTELY NO WARRANTY;</li>
              <li>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.</li>
            </ul>
          </div>
        </div>



      </div>
  </div>
</div>


{{> footer}}
{{> htmlFoot}}
</body>
</html>
