<!DOCTYPE html>
<html lang="en">
{{> htmlHead}}
<body>
{{> header}}
{{> navigation }}

<div class="container py-3">
  <div class="row">
      <div class="col p-3">

        <div class="card">

          <div class="card-header">
            Product Receipt and File Download
          </div>

          <div class="card-block">

            <h4 class="card-title">{{inHTMLData productTitle}} ({{inHTMLData productLicense}}) - ${{inHTMLData paidAmount}}</h4>

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>{{inHTMLData timestamp}}</strong></li>
              <li class="list-group-item text-muted">{{inHTMLData customerEmail}}</li>
              <li class="list-group-item">{{inHTMLData productTitle}}</li>
              <li class="list-group-item">{{inHTMLData productLicense}} License</li>
              <li class="list-group-item">${{inHTMLData paidAmount}}</li>
              <li class="list-group-item"><a href="{{inDoubleQuotedAttr downloadLink }}" style="word-break: break-all;">{{inHTMLData downloadLink}}</a></li>
            </ul>

            <div class="card-text text-right p-3">
              <a href="{{inDoubleQuotedAttr downloadLink}}" class="btn btn-primary">Download</a>
            </div>

            <div class="alert alert-info" role="alert">
              <strong>Important!</strong> Please bookmark your download link, and save the receipt.
            </div>

          </div>

        </div>

      </div>
  </div>
</div>



{{> footer}}
{{> htmlFoot}}
</body>
</html>
