<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('navigation.ejs') -%>
<%- include('intro.ejs') -%>
<%- include('products.ejs') -%>
<%- include('footer.ejs') -%>
</body>
</html>
