<!DOCTYPE html>
<html lang="en">
<%- include('head.ejs') -%>
<body>
<%- include('navigation.ejs') -%>
<div class="container-fluid pt-3" style="min-height: 75vh;">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">

          <h4 class="card-title"><%= model.title %></h4>
          <p class="card-text p-3"><%= model.description %></p>

        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer.ejs') -%>
</body>
</html>
