<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse not-fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= link.home %>"><%= model.title %></a>
  <div class="collapse navbar-collapse" id="navbarPrimary">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="<%= link.about %>">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= link.products %>">Products</a>
      </li>





    </ul>

      <ul class="navbar-nav mr-auto">
        <% if (model.user) { %>

          <li class="nav-item">
            <a class="nav-link" href="<%= link.user %>">Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="<%= link.logout %>">Logout</a>
          </li>

        <% } else { %>

          <li class="nav-item">
            <a class="nav-link" href="<%= link.signup %>">Sign Up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="<%= link.login %>">Login</a>
          </li>

        <% } %>
      </ul>
  </div>
</nav>
