<div class="card">

  <div class="card-header">{{inHTMLData title}}</div>
  <img class="card-img-top img-fluid" src="{{inDoubleQuotedAttr screenshot}}" alt="{{inDoubleQuotedAttr title}} Screenshot">
  <div class="card-block">

    <p class="card-text">{{inHTMLData description}}</p>
    <div class="text-right">
      <a href="{{inDoubleQuotedAttr link}}" class="btn btn-outline-primary"><i class="fa fa-fw fa-search"></i> View</a>
    </div>

  </div>

</div>
