<footer class="bg-inverse text-muted mb-0" style="margin-top: 7rem;">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 col-md-3 col-md-4 col-lg-3 p-3">

        <p class="lead">About</p>
        <ul class="p-1 list-unstyled">
          <li class="p-1"><i class="fa pr-3 fa-fw fa-question-circle"></i> <a href="{{inDoubleQuotedAttr link.about}}">{{inHTMLData title}}</a></li>
          <li class="p-1"><i class="fa pr-3 fa-fw fa-legal"></i> <a href="{{inDoubleQuotedAttr link.about}}#legal">Legal</a></li>
          <li class="p-1"><i class="fa pr-3 fa-fw fa-id-card-o"></i> <a href="{{inDoubleQuotedAttr link.about}}#licenses">Licenses</a></li>
          <li class="p-1"><i class="fa pr-3 fa-fw fa-money"></i> <a href="{{inDoubleQuotedAttr link.about}}#refunds">Refunds</a></li>
          <li class="p-1"><i class="fa pr-3 fa-fw fa-lock"></i> <a href="{{inDoubleQuotedAttr link.about}}#privacy">Privacy</a></li>
        </ul>

      </div>

      <div class="col-sm-6 col-md-3 col-md-4 col-lg-3 p-3">

        <p class="lead">Social</p>
        <ul class="p-1 list-unstyled">
          <li class="p-1"><i class="fa pr-3 fa-fw fa-github"></i> <a href="https://github.com/fantasyui-com">GitHub</a></li>
          <li class="p-1"><i class="fa pr-3 fa-fw fa-twitter"></i> <a href="https://twitter.com/fantasyui_com">Twitter</a></li>
          <li class="p-1"><i class="fa pr-3 fa-fw fa-tag"></i> <a href="https://creativemarket.com/fantasyui.com/">Creativemarket</a></li>
        </ul>

      </div>

      <div class="col p-3">

        <p class="lead">{{inHTMLData title}}</p>
        <p class="p-3">
          {{> info}}
        </p>

      </div>

    </div>
  </div>
</footer>
