<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse not-fixed-top">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="{{inDoubleQuotedAttr link.home}}">{{inHTMLData title}}</a>
  <div class="collapse navbar-collapse" id="navbarPrimary">

    <ul class="navbar-nav mr-0">

      <li class="nav-item">
        <a class="nav-link" href="{{inDoubleQuotedAttr link.about}}">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{inDoubleQuotedAttr link.products}}">Products</a>
      </li>

      <li class="nav-item" style="display: none;">
        <a class="nav-link active" href="{{inDoubleQuotedAttr link.purchases}}">Account</a>
      </li>

    </ul>
  </div>
</nav>
