<div class="card py-3 my-3" style="min-height: 75vh;">
  <div class="card-block">
  <h4 class="card-title text-muted">Account Actions</h4>

  {{#each accountActions}}
    <div class="alert alert-{{inDoubleQuotedAttr type}}"" role="alert">
      <strong>{{inHTMLData title}}</strong>
      {{inHTMLData description}}
      <br>
      <a href="{{inDoubleQuotedAttr link}}" class="btn btn-sm btn-{{inDoubleQuotedAttr type}}">{{inHTMLData text}}</a>
    </div>
  {{~/each}}

  </div>
</div>
